* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  background-color: #5dade2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
}

.grid-item {
  padding: 1em;
  border-radius: 5px;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.06);
  background-color: #f1c40f;
}

.grid-item:hover {
  cursor: pointer;
}

.grid-item h3:hover {
  text-decoration: underline;
}

.header {
  color: #ecf0f1;
  padding: 1em;
  margin-bottom: 1em;
}

p {
  color: black;
}

div > h3 {
  text-align: center;
}

.definition {
  display: none;
}




/* CARDS */

/* .item1 {
  grid-column: 1/2;
  grid-row: 1/4;
} */



/* COLOR PALETTE
#5dade2 blue
#f1c40f yellow
#48c9b0 green
#ecf0f1 grey
#45b39d green - a little darker
#e74c3c red

rgb(93, 173, 226)
rgb(241, 196, 15)
rgb(72, 201, 176)
rgb(236, 240, 241)
rgb(69, 179, 157)
rgb(231, 76, 60) */